<!DOCTYPE HTML>
<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/3.3/examples/cover/cover.css" rel="stylesheet">
    <!--<script src="https://use.fontawesome.com/d58091187a.js"></script>-->
     <link rel="apple-touch-icon" href="https://cdn0.iconfinder.com/static/img/favicons/apple-touch-icon.png?3186e39e61c1fdd1">
        <link rel="apple-touch-icon" sizes="57x57" href="https://cdn0.iconfinder.com/static/img/favicons/apple-touch-icon-57x57.png?17a978e9ef038ac5">
        <link rel="apple-touch-icon" sizes="60x60" href="https://cdn0.iconfinder.com/static/img/favicons/apple-touch-icon-60x60.png?80576d4debc8b501">
        <link rel="apple-touch-icon" sizes="72x72" href="https://cdn0.iconfinder.com/static/img/favicons/apple-touch-icon-72x72.png?de5f9d2bb6223cc5">
        <link rel="apple-touch-icon" sizes="76x76" href="https://cdn0.iconfinder.com/static/img/favicons/apple-touch-icon-76x76.png?98c6aa972f203356">
        <link rel="apple-touch-icon" sizes="114x114" href="https://cdn0.iconfinder.com/static/img/favicons/apple-touch-icon-114x114.png?f3b9217265f48d28">
        <link rel="apple-touch-icon" sizes="120x120" href="https://cdn0.iconfinder.com/static/img/favicons/apple-touch-icon-120x120.png?57ee515801e81ecf">
        <link rel="apple-touch-icon" sizes="144x144" href="https://cdn0.iconfinder.com/static/img/favicons/apple-touch-icon-144x144.png?06d1c4d65d819734">
        <link rel="apple-touch-icon" sizes="152x152" href="https://cdn0.iconfinder.com/static/img/favicons/apple-touch-icon-152x152.png?55b24b983f53fde5">
        <link rel="apple-touch-icon" sizes="180x180" href="https://cdn0.iconfinder.com/static/img/favicons/apple-touch-icon-180x180.png?3186e39e61c1fdd1">
        <link rel="icon" type="image/png" sizes="32x32" href="https://cdn0.iconfinder.com/static/img/favicons/favicon-32x32.png?87b2a5c3aac4b6db">
        <link rel="icon" type="image/png" sizes="192x192" href="https://cdn0.iconfinder.com/static/img/favicons/android-chrome-192x192.png?beec5a64063b040a">
        <link rel="icon" type="image/png" sizes="96x96" href="https://cdn0.iconfinder.com/static/img/favicons/favicon-96x96.png?ea0174d544cbbf73">
        <link rel="icon" type="image/png" sizes="16x16" href="https://cdn0.iconfinder.com/static/img/favicons/favicon-16x16.png?65f75976b29a9ef8">
    <title>
        Floraison | {% block title %} URL Shortener{% endblock title %}
    </title>
    {% block styles %}
    <style>
    body {
{#      background-color: rgba(66, 36, 27, 0.89);#}
        background-color: #226268;
    }
    .btn-link {
      color: #50dfec;
      text-shadow: none;
    }
    .btn-link:hover {
      color: #000000;
    }
    </style>
    {% endblock styles %}
</head>

<body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">



          <div class="inner cover">
             {% block content %}

            {% endblock content %}

          </div>


        </div>

      </div>

    </div>



</body>
</html>